<!DOCTYPE html>
<html>
    <link rel= "stylesheet" type= "text/css" href= '{{ url_for("static",filename="styling.css") }}'>
    <script src='{{url_for("static", filename="validate.js")}}'></script>

    <body>
        <form method="POST" action="/word" >
            <div>
            <b id="word">Give word:</b>
            <span id="pro"> <acronym title="source code">
                            <a href="https://github.com/darkone03/dictionaryUsingApi">
                                <img src='{{ url_for("static",filename="images.png") }}' id="profilePic" alt="Avatar">
                            </a>
                            </acronym>
            </span>
            {%if past!=[]:%}
                <span id="past">
                        <table>
                            <tr>
                                <th>recent words</th>
                            </tr>
                            
                            {%for val in past%}
                                <tr>
                                    <td>{{val}}</td>
                                </tr>
                            {%endfor%}
                            
                        </table>
                    </span>
            {%endif%}
            <input type="text" name="para" id="para">
            
            <br>
            <input id="but" type="submit" onclick="emptyCheck()" name="sub" value="submit">
            <input id="but" type="submit" onclick="reset()" name="sub" value="reset">
            
            <div>
            <br>
            {%if data!="":%}
                <img src="{{img}}"/>
            {%endif%}
        </form>
        <h2 id="info"></h2>
        {%if data!="":%}
                <hr>
                <h1>{{data}}
                
                </h1>
                <b id="phone">
                    {%if phonetic!=None:%}
                        {{phonetic}} 
                    {%endif%}
                </b>
                <br>
                
                <audio controls autoplay>
                    <source src="{{mp3}}" type="audio/ogg">
                Your browser does not support the audio element.
                </audio> 
            
                <hr>
                
                <p><b>part of speech:</b><i>Noun</i></p>
                <p id="def"><b>definition:</b><i>{{defN}}</i></p>
                    {%if lenN!=0%}
                        <p><b>synonyms:</b></p>

                        {%for val in syN%}
                            <u>{{val}}</u><br>
                        
                        {% endfor %}
                        </p>
                    {%endif%}
                    <hr>
                <p><b>part of speech:</b><i>Verb</i></p>
                    <p id="def"><b>definition:</b><i>{{defV}}</i></p>
                    {%if lenV!=0:%}
                        <p><b>synonyms:</b></p>

                        {%for val in syV%}
                            <u>{{val}}</u><br>
                            
                        {% endfor %}
                        </p>
                    {%endif%}
                    
        {%endif%}

    </body>
</html>
