<html>
    <link rel= "stylesheet" type= "text/css" href= '{{ url_for("static",filename="styling.css") }}'>
    <script src='{{url_for("static", filename="validate.js")}}'></script>

    <body>
        <form method="POST" action="/word">
            <div id="word"><b>Give word:</b></div>
            <input id="in" type="text" name="para">
            <br>
            <input id="but" type="submit" onclick="emptyCheck()" name="sub" value="submit">
            <input id="but" type="submit" onclick="reset()" name="sub" value="reset">
            <br>
            {%if data!="":%}
                <img src="{{img}}"/>
            {%endif%}
        </form>
        <h2 id="info"></h2>
        {%if data!="":%}
                <hr>
                <h1>{{data}}
                
                </h1>
                <b id="phone">
                    {%if phonetic!=None:%}
                        {{phonetic}} 
                    {%endif%}
                </b>
                <br>
                
                <audio controls autoplay>
                    <source src="{{mp3}}" type="audio/ogg">
                Your browser does not support the audio element.
                </audio> 
            
                <hr>
                
                <p><b>part of speech:</b><i>Noun</i></p>
                <p id="def"><b>defination:</b><i>{{defN}}</i></p>
                    {%if lenN!=0%}
                        <p><b>synonyms:</b></p>

                        {%for val in syN%}
                            <u>{{val}}</u><br>
                        
                        {% endfor %}
                        </p>
                    {%endif%}
                    <hr>
                <p><b>part of speech:</b><i>Verb</i></p>
                    <p id="def"><b>defination:</b><i>{{defV}}</i></p>
                    {%if lenV!=0:%}
                        <p><b>synonyms:</b></p>

                        {%for val in syV%}
                            <u>{{val}}</u><br>
                            
                        {% endfor %}
                        </p>
                    {%endif%}
                    
        {%endif%}

    </body>
</html>
